/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/examples/*.log
action_channels.log
/examples/tmp/
Gemfile.lock

# rspec failure tracking
.rspec_status

# ignore the Ruby Version manager
.rvmrc
.ruby-version
.ruby-gemset
.rbenv
